
{% for space in spaces %}
    <tr>
      <th scope="row">{{ space['name'] }}</th>
      <td>{{ space['type'] }}</td>
      <td>{{ space['floor'] }}</td>
      <td>{{ space['seats'] }}</td>
      <td>{{ space['area'] }}</td>
      <td>{{ space['listRate'] }}</td>
      <td>{{ space['rateType'] }}</td>
      <td>{{ space['isempty'] }}</td>
      <td><a href="/viewspace/{{space['ID']}}">View</a> | <a href="/editspace/{{space['ID']}}" >Edit</a></div> | 

  <a href="/bookspace/{{space['ID']}}" >BOOK</a></div></td>

<!--
    {% if(space['isempty'] == 'Yes')  %}
      <td><a class="btn btn-warning" href="#" role="button">BOOK</a></td>
    {% endif %}
-->
{% endfor %}  