<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Desk Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="container">
      <h3>{{title}}</h3>
      <table class="table table-striped">
        <thead class="border border-warning">
          <tr>
            <th scope="col"><h5>Labels</h5></th>
            <th scope="col"><h5>Values</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Space ID</th>
            <td>{{ space['ID'] }}</td>
          <tr>
            <th scope="row">Name</th>
            <td>{{ space['name'] }}</td>
          <tr>
            <th scope="row">Type</th>
            <td>{{ space['type'] }}</td>
          <tr>
            <th scope="row">Floor</th>
            <td>{{ space['floor'] }}</td>
          <tr>
            <th scope="row">Seats</th>
            <td>{{ space['seats'] }}</td>
          <tr>
            <th scope="row">Area</th>
            <td>{{ space['area'] }}</td>
          <tr>
            <th scope="row">List Price</th>
            <td>{{ space['listRate'] }}</td>
          <tr>
            <th scope="row">Rate Type</th>
            <td>{{ space['rateType'] }}</td>
          <tr>
            <th scope="row">Available</th>
            <td>{{ space['isempty'] }}</td>
        </tbody>
      </table>
      <a class="btn btn-warning" href="/spaces" role="button">BACK</a>
    </div>
    <div class ="container">
      <h3>Booking History</h3>
      <table class="table table-striped">
        <thead class="border border-warning">
          <tr>
            <th scope="col"><h5>Booked By</h5></th>
            <th scope="col"><h5>From</h5></th>
            <th scope="col"><h5>To</h5></th>
            <th scope="col"><h5>Booked On</h5></th>
            <th scope="col"><h5>Booking Rate</h5></th>
          </tr>
        </thead>
        <tbody>
          {% include 'tablebooking.html' %}
        </tbody>
      </table>
    </div>
  </body>
</html>